@import 'materialize.css';

nav .brand-logo {
    padding-right: 5px;
    padding-left: 5px;
}

nav .dropdown-content a {
    color: #e51c23;
}

#statistics {
    min-height: 300px;
}

.input-field input[type=date]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}
.login-page {
    margin: 0 auto;
}

.login-page form {
    width:300px;
}

.col.s12.z-depth-4.card-panel {
    width:315px;
    word-break:break-all
}

/* CARD PANEL EQ HEIGHT */
.row-flex {
    display: flex;
    flex-wrap: wrap;
  }
.card-panel-eql {
    height: calc(100% - 12px);
  }

/* LOGO adjustments override */
@media only screen and (max-width: 992px) {
    nav .brand-logo {
      left: 50%;
      transform: none; }
    }

nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .brand-logo {
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0; }

/* navigation menu type size and pixel adjusmtnet override */
@media only screen and (max-width: 1550px) {
    .remove-big-menu {
        display: none !important; } }

@media only screen and (max-width: 1549px) {
    .show-mobile-menu {
        display: block !important; } }

/* icon color change */
i.icon-red {
    color: red;
}

i.icon-green {
    color: green;
}

i.icon-blue {
    color: blue;
}

/* table striping and highlight override */

table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(11, 47, 47, 0.5); }

table.striped > tbody > tr {
    background-color: rgba(242, 242, 242, 0.5); }

table.highlight > tbody > tr:hover {
    background-color: rgba(122, 89, 39, 0.507); }
