<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dnxfirewall - Admin Panel</title>
    <base href="/">
    <link href="{{url_for('static', filename='assets/fonts/roboto.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/css/icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/shield.png') }}">
</head>
<body style="background-color:{% if session['dark_mode'] %} #263238 {% else %} #e0e0e0 {% endif %}">
    {% set tab_classes = 'tab col s4 l3 xl2' %}
    {% set icon_tiny = 'height=25px width=25px' %}
    {% set icon_small = 'height=52px width=52px' %}
    {% set dash_icon_std = 'height=65px width=65px' %}
    {% set dash_icon_zoom = 'height=100px width=100px' %}


    {% set icon_color = 'blue-grey-text' %}

    <!-- dark mode enabled -->
    {% if session['dark_mode'] %}

    {% set main_section_color = 'blue-grey darken-4' %}
    {% set off_section_color = 'blue-grey lighten-4' %}
    {% set card_color = 'blue-grey lighten-2' %}
    {% set title_color = 'black-text' %}
    {% set input_color = 'grey lighten-2' %}

    <!-- default mode enabled -->
    {% else %}

    {% set main_section_color = 'grey lighten-2' %}
    {% set off_section_color = 'grey lighten-5' %}
    {% set card_color = 'grey lighten-4' %}
    {% set title_color = 'blue-grey-text darken-2' %}

    {% endif %}

    {% set ip_addr_validate = 'class=validate minlength=7 maxlength=15 size=15 pattern=^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$' %}
    {% set port_validate = 'class=validate pattern=^([1-9]|[1-5]?[0-9]{2,4}|6[1-4][0-9]{3}|65[1-4][0-9]{2}|655[1-2][0-9]|6553[1-5]):([1-9]|[1-5]?[0-9]{2,4}|6[1-4][0-9]{3}|65[1-4][0-9]{2}|655[1-2][0-9]|6553[1-5])$)$' %}

    <!-- includes -->
    {% include 'includes/_header.html' %}

    <!-- restricting webui to authenticated users -->
    {% if navi %}
    {% include 'includes/_fab.html' %}
    {% endif %}

    {% block body %}{% endblock body %}

    {% if standard_error %}
    {% include 'includes/_error_notify.html' %}
    {% endif %}

    {% if idle_timeout %}
    {% include 'includes/_idle_timeout.html' %}
    {% endif %}

    {% if footer %}
    {% include 'includes/_footer.html' %}
    {% endif %}

    <!-- materialize js-->
    <script src="{{url_for('static',filename='assets/js/materialize.min.js')}}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Initialized everything OR you can override with options below
            M.AutoInit();
        })

        document.addEventListener('DOMContentLoaded', () => {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {
                coverTrigger : false
            });
        })

        document.addEventListener('DOMContentLoaded', () => {
            var modal = document.querySelector('.modal-pop');
            var instance = M.Modal.init(modal);
            if (error && modal) {
                instance.open();
            };
        })

        document.addEventListener('DOMContentLoaded', () => {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                // direction: 'left',
                hoverEnabled: false
            });
        })

        function activeTab(n) {
        history.replaceState(null, null, window.location.pathname+"?tab="+n);
        document.getElementById("timeout-tab").innerHTML = "<input type=hidden name=tab value="+n+">";
        }

        function activeMenu(n) {
        document.getElementById("timeout-menu").innerHTML = "<input type=hidden name=menu value="+n+">";
        }

        function idleTimeout() {
            var timeoutNotify = document.querySelector(".modal-idle-timeout");
            var notifyInstance = M.Modal.init(timeoutNotify);
            notifyInstance.open();
        }
    </script>
</body>
</html>
