{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <ul class="tabs">
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab=='1' %} class="active" {% endif %} href="#dhcpgen"
                        onclick="activeTab(1)">General</a></li>
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab=='2' %} class="active" {% endif %} href="#dhcpres"
                        onclick="activeTab(2)">Reservations</a></li>
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab=='3' %} class="active" {% endif %} href="#dhcplease"
                        onclick="activeTab(3)">Leases</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="dhcpgen" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            {% for interface in ['lan', 'dmz'] %}
            <div class="col s6">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">{{interface.upper()}} Interface</h4>
                    <form action="/settings/dhcp" method="POST">
                        <input type="hidden" name="tab" value="1">
                        <input type="hidden" name="interface" value="{{interface}}">
                        <div class="row">
                            <div class="input-field col s6 center">
                                Server
                                <div class="switch">
                                    <label>
                                        Off
                                        <input type="checkbox" name="server_enabled" onchange="this.form.submit()"
                                            {% if dhcp_settings[interface.lower()]['enabled'] %} checked="checked" {% endif %}>
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s6 center">
                                Ping Verification
                                <div class="switch">
                                    <label>
                                        Disabled
                                        <input type="checkbox" name="icmp_check" onchange="this.form.submit()"
                                            {% if dhcp_settings[interface.lower()]['icmp_check'] %} checked="checked" {% endif %}>
                                        <span class="lever"></span>
                                        Enabled
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row {{input_color}}">
                            <div class="input-field col s6">
                                <input type="number" name="start" value="{{dhcp_settings[interface]['lease_range']['start']}}" class="validate">
                                <label for="">Start</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="number" name="end" value="{{dhcp_settings[interface]['lease_range']['end']}}" class="validate">
                                <label for="">End</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center">
                                <button class="btn waves-effect waves-light" name="general_settings">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="dhcpres" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Add Reservation</h4>
                    <form action="/settings/dhcp" method="POST">
                        <input type="hidden" name="tab" value="2">
                        <div class="row">
                            <div class="input-field col s2 offset-s1 {{input_color}}">
                                <select name="zone" id="">
                                    <option value="DMZ">DMZ</option>
                                    <option value="LAN">LAN</option>
                                </select>
                                <label for="">Zone</label>
                            </div>
                            <div class="input-field col s4 {{input_color}}">
                                <input type="text" name="mac_address" class="validate" placeholder="aa:aa:aa:aa:aa:aa" required>
                                <label for="">Mac Address</label>
                            </div>
                            <div class="input-field col s4 {{input_color}}">
                                <input type="text" name="ip_address" class="validate" placeholder="192.168.5.14" required>
                                <label for="">IP Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4 offset-s1 {{input_color}}">
                                <input type="text" name="description" class="validate" placeholder="Erika's PC">
                                <label for="">Description</label>
                            </div>
                            <div class="input-field col s2 offset-s2">
                                <input type="hidden" name="dhcp_res_add">
                                <button class="btn waves-effect waves-light col s12">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">DHCP Reservations</h4>
                    <table class="striped centered">
                        <thead>
                            <th></th>
                            <th>Zone</th>
                            <th>Mac Address</th>
                            <th>IP Address</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                            {% if dhcp_settings['reservations'] %}
                            {% for mac, info in dhcp_settings['reservations'] %}
                            <tr>
                                <td>
                                    <a class="btn-floating btn-small red waves-effect waves-light modal-trigger"
                                        href="#dhcp-modal1-{{loop.index}}"><i class="material-icons">remove</i></a>
                                    <div id="dhcp-modal1-{{loop.index}}" class="modal">
                                        <div class="modal-content">
                                            <h5 class="red-text">Are you sure you want to remove the DHCP reservation?</h5>
                                        </div>
                                        <form action="/settings/dhcp" method="POST">
                                            <div class="modal-footer">
                                                <button class="btn waves-effect waves-light">YES</button>
                                                <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                                <input type="hidden" name="tab" value="2">
                                                <input type="hidden" name="dhcp_res_remove" value="{{mac}}">
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>{{info['zone']}}</td>
                                <td>{{mac}}</td>
                                <td>{{info['ip_address']}}</td>
                                <td>{{info['description']}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                {% for i in range(5) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="dhcplease" class="section {{main_section_color}}">
    <div class="container">
        <div class="col s12">
            <div class="card-panel hoverable {{card_color}}">
                <h4 class="{{title_color}}">DHCP Leases</h4>
                <div class="row">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>IP Address</th>
                                <th>Mac Address</th>
                                <th>Hostname</th>
                                <th>Time Given</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if dhcp_settings['leases'] %}
                            {% for ip, handout_time, mac, hostname in dhcp_settings['leases'] %}
                            <tr>
                                <td>
                                    <a class="btn-floating btn-small waves-effect waves-light red modal-trigger"
                                        href="#dhcp-modal2-{{loop.index}}"><i class="material-icons">remove</i></a>
                                    <div id="dhcp-modal2-{{loop.index}}" class="modal">
                                        <div class="modal-content">
                                            <h5 class="red-text">Are you sure you want to remove the DHCP lease?</h5>
                                        </div>
                                        <form action="/settings/dhcp" method="POST">
                                            <div class="modal-footer">
                                                <button class="btn waves-effect waves-light">YES</button>
                                                <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                                <input type="hidden" name="tab" value="3">
                                                <input type="hidden" name="dhcp_lease_remove" value="{{ip}}">
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>{{ip}}</td>
                                <td>{{mac}}</td>
                                <td>{{hostname}}</td>
                                <td>{{handout_time}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                {% for i in range(4) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
