{% extends('layout.html') %}
{% block body %}
<!-- Tabs for statistics -->
<section id="dropdown" class="section {{main_section_color}}">
    <div class="container">
        <div class="col s12">
            <div class="card-panel hoverable {{card_color}}">
                <h4 class="{{title_color}}">System Logs</h4>
                <div class="row">
                    <form action="system/logs" method="POST">
                        <div class="input-field col s10 m6 l4 {{input_color}}">
                            <select name="table" onchange="this.form.submit()">
                                {% for table_type in log_files %}
                                <option value="{{table_type}}" {% if table_type==table %} selected {% endif %}
                                    >{{table_type.upper()|replace('_', ' ')}} LOG</option>
                                {% endfor %}
                            </select>
                            <label for="table">Log Files</label>
                        </div>
                        <noscript>
                            <div class="input-field col s3 m3">
                                <button class="btn waves-effect waves-light col s4">
                                    <i class="material-icons">cached</i>
                                </button>
                            </div>
                        </noscript>
                    </form>
                </div>
                <div class="row">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th style="width:15%">Date/Time</th>
                                <th style="width:10%">Service</th>
                                <th style="width:10%">Level</th>
                                <th style="width:65%">Log Entry</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if table_data %}
                            {% for date_time, service, log_level, log_entry in table_data %}
                            <tr>
                                <td>{{date_time}}</td>
                                <td>{{service}}</td>
                                <td>{{log_level}}</td>
                                <td>{{log_entry}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                {% for i in range(4) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
