{% extends('layout.html') %}
{% block body %}
<!-- slider (good UX however kind of pointless if you don't have anything to display that's really neat? -->
{% if hasSlider %}
{% include('slider.html') %}
{% endif %}
<!-- Tabs for statistics -->
<section id="dropdown" class="section {{main_section_color}}">
    <div class="container">
        <div class="col s12">
            <div class="card-panel hoverable {{card_color}}">
                <h4 class="{{title_color}}">Detection Logs</h4>
                <div class="row">
                    <form action="system/reports" method="POST">
                        <div class="input-field col s5 m3 offset-m1 {{input_color}}">
                            <select name="table" onchange="this.form.submit()">
                                {% for table_type in table_types %}
                                <option value="{{table_type}}/last" {% if table_type == table %} selected {% endif %}>{{table_type.replace("_", " ").upper()}}</option>
                                {% endfor %}
                            </select>
                            <label for="table">Module</label>
                        </div>
                        <div class="input-field col s5 m3 {{input_color}}">
                            <select name="menu" onchange="this.form.submit()">
                                {% if table in ['infected_clients', 'intrusion_prevention'] %}
                                <option value="all">ALL</option>
                                {% else %}
                                {% for action in ['all', 'blocked', 'allowed'] %}
                                ><option value="{{action}}" {% if action == menu %} selected {% endif %}>{{action.upper()}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            <label for="table">Action</label>
                        </div>
                        <div class="input-field col s2">
                            <button class="btn waves-effect waves-light col">
                                <i class="material-icons">refresh</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <table class="striped centered highlight">
                        <!-- DNS Proxy Table -->
                        {% if table == 'dns_proxy' %}
                        <thead>
                            <tr>
                                <th style="width:10%">Source</th>
                                <th style="width:25%">Domain</th>
                                <th style="width:20%">Category</th>
                                <th style="width:10%">Reason</th>
                                <th style="width:10%">Action</th>
                                <th style="width:10%">
                                    <form action="/system/reports" method="POST">
                                        <input type="hidden" name="table" value="{{table}}/top">
                                        <button class="btn btn-small waves-effect waves-light" name="menu" value="{{menu}}">
                                            <i class="material-icons tiny">arrow_drop_up</i></button> Ct.
                                    </form>
                                </th>
                                <th style="width:15%">
                                    <form action="/system/reports" method="POST">
                                        <input type="hidden" name="table" value="{{table}}/last">
                                        <button class="btn btn-small waves-effect waves-light" name="menu" value="{{menu}}">
                                            <i class="material-icons tiny">arrow_drop_up</i></button> Last Seen
                                    </form>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in table_data %}
                            <tr>
                                <td>{{entry[0]}}</td>
                                <td>{{entry[1]}}</td>
                                <td>{{entry[2]}}</td>
                                <td>{{entry[3]}}</td>
                                <td>{{entry[4]}}</td>
                                <td>{{entry[5]}}</td>
                                <td>{{entry[6]}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                {% for i in range(7) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- IP HOSTS TABLE-->
                        {% elif table == 'ip_proxy' %}
                        <thead>
                        <tr>
                            <th style="width:14%">Local IP</th>
                            <th style="width:14%">Remote IP</th>
                            <th style="width:14%">Geo</th>
                            <th style="width:14%">Rep</th>
                            <th style="width:12%">Direction</th>
                            <th style="width:12%">Action</th>
                            <th style="width:20%">
                                <form action="/system/reports" method="POST">
                                    <input type="hidden" name="table" value="{{table}}/last">
                                    <button class="btn btn-small waves-effect waves-light" name="menu" value="{{menu}}">
                                        <i class="material-icons tiny">arrow_drop_up</i></button> Timestamp
                                </form>
                        </tr>
                        </thead>
                        <tbody>
                            {% for entry in table_data %}
                            {% set geo, rep = entry[2].split('/') %}
                            <tr>
                                <td>{{entry[0]}}</td>
                                <td>{{entry[1]}}</td>
                                <td>{{geo}}</td>
                                <td>{{rep}}</td>
                                <td>{{entry[3]}}</td>
                                <td>{{entry[4]}}</td>
                                <td>{{entry[5]}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                {% for i in range(7) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- IPS TABLE -->
                        {% elif table == 'intrusion_prevention' %}
                        <thead>
                            <tr>
                                <th style="width:20%">Source</th>
                                <th style="width:20%">Protocol</th>
                                <th style="width:20%">Attack Type</th>
                                <th style="width:20%">Action</th>
                                <th style="width:20%">Last Seen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in table_data %}
                            <tr>
                                <td>{{entry[0]}}</td>
                                <td>{{entry[1]}}</td>
                                <td>{{entry[2]}}</td>
                                <td>{{entry[3]}}</td>
                                <td>{{entry[4]}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                {% for i in range(5) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% elif table == 'infected_clients' %}
                        <thead>
                            <tr>
                                <th style="width:10%"></th>
                                <th style="width:20%">Local MAC</th>
                                <th style="width:15%">Local IP</th>
                                <th style="width:15%">Detected Host</th>
                                <th style="width:15%">Reason</th>
                                <th style="width:10%">User</th>
                                <th style="width:15%">Last Seen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in table_data %}
                            <tr>
                                <td>
                                    <a class="btn-floating btn-small red waves-effect waves-light modal-trigger" href="#rep-modal1-{{loop.index}}"><i class="material-icons">remove</i></a>
                                    <div id="rep-modal1-{{loop.index}}" class="modal">
                                        <div class="modal-content">
                                            <h5 class="red-text">Are you sure you want to remove the infected client from the list? Is it now clean?</h5>
                                        </div>
                                        <form action="/system/reports" method="POST">
                                            <input type="hidden" name="menu" value="infected_clients/last">
                                            <div class="modal-footer">
                                                <button class="btn waves-effect waves-light" name="i_client_remove">YES</button>
                                                <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                                <input type="hidden" name="infected_client" value="{{entry[0]}}">
                                                <input type="hidden" name="detected_host" value="{{entry[2]}}">
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>{{entry[0]}}</td>
                                <td>{{entry[1]}}</td>
                                <td>{{entry[2]}}</td>
                                <td>{{entry[3]}}</td>
                                <td>{{entry[4]}}</td>
                                <td>{{entry[5]}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                {% for i in range(7) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
