<div id="standard-error-modal" class="modal modal-pop">
    <div class="modal-content center">
        <script>var error = true;</script>
        <h5 class="red-text">{{standard_error}}</h5>
    </div>
    <a class="modal-close waves-effect waves-green btn-flat right">OK</a>
</div>
