<!-- idle timeout notification popup
540000 for 9 minutes | 1.5m???? is for 25min LOL. -->
<body onload="setTimeout(idleTimeout, 1500000)">
    <form method="PUT">
        <div id="idle-timeout-modal" class="modal modal-idle-timeout">
            <div class="modal-content center">
                <script>var error = true;</script>
                <h5 class="red-text">Your session is about to expire. Do you need more time?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" name="active" value="1">YES</button>
                <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
        {% if log_timeout %}
        <input type="hidden" name="table" value="{{table}}">
        {% elif tab %}
        <input id="timeout-tab" type="hidden" name="tab" value="{{tab}}">
        {% endif %}
        {% if menu %}
        <input id="timeout-menu" type="hidden" name="menu" value="{{menu}}">
        {% endif %}
    </form>
</body>
